@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	font-size:18px;
	background:black;
}
h1, h2 {
	margin:0;
	color:white;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	font-size:48px;
	line-height:1.5;
	text-transform: uppercase;
}
h2 {
	font-size:32px;
}
p {
	line-height:34px;
}
.header-container {
	background-color: #282c34;
}
.header-grid {	
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	gap:5px;
	width: 80vw;
    margin: auto;
    padding: 20px 0;
}
.header-grid-child ul {
	display:flex;
	flex-direction:row;
	margin:15px 0 0 0;
	padding:0;
	list-style-type: none;
	gap:15px;
}
.header-grid-child ul li {
	list-style-type: none;
}
.header-grid-child ul li a {
	background:white;
	padding:10px 20px;
	color:#282c34;
	text-decoration:none;
	font-size:20px;
	text-transform:uppercase;
	font-weight:bold;
}
.header-grid-child ul li a:hover {
	background:#80DEEA;
	color:#282c34;
	transition:all linear .5s;
}
#home,
#about {
	background:url(./img/home-bg.jpg);
	background-size:cover;
	background-position:top left;
	background-repeat:no-repeat;
	display:flex;
}
#about {
	background:url(./img/about-bg.jpg);
}
.inner-content-grid {
	width:80vw;
	display: flex;
  	flex-direction:row;
	margin:auto;
	gap:20px;
}
.inner-content-grid-child {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding:20px;
	background:rgba(0,0,0,0.5);
	flex:0 50%;
	color:white;
}
.grid-container-cta {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap:5px;
  }
  .grid-child-cta {
	background:darkslateblue;
	padding:20px;
	color:black;
	text-align:center;
	color:white;
  }
  @media screen and (max-width:768px) {
	  .inner-content-grid {
		  flex-direction:column;
	  }
	  .grid-container-cta {
		  grid-template-columns: auto;
	  }
  }
  @media screen and (max-width:691px) {
	  .header-grid {
		  grid-template-columns: auto;
		  justify-content:center;
	  }
	  .header-grid-child {
		  text-align: center;
	  }
  }